*body{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
.container1{
  margin-left: 10%;
  margin-right: 10%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.navbar__left{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}
.navbar__left img{
  width: 30%;
  height: 50%;
}
.navbar__middle{
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.navbar__right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__right p{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;}
  .navbar__right__rupees{
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
  .navbar__right__rupees h4{
    border-left: solid 1px grey;
    padding-left: 10px;
}
.navbar__middle h4{
    border-bottom: solid 2px transparent;
}
.navbar__middle h4:hover{
    border-bottom: solid 2px black;
}
.navbar__right p:hover{
    opacity: 0.5;
}
.section2 h1{
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.section2__menubar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bolder;
  cursor: pointer;
}
.section2__menubar p{
  border-bottom: solid 1px transparent;
}
.section2__menubar p:hover{
  border-bottom: solid 2px black;
}
.section2__search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  margin-left: 15%;
  margin-right: 15%;
}
.section2__search input{
  border: none;
  font-size: 20px;
  background-color: transparent;
}
.section2__search input:focus{
  outline: none;
}
.section2__search h4{
  background-color: #0feb8b;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}
.section3__img img{
  width: 100%;
  margin-top: 50px;
  border-radius: 20px;
  height: 50%;
}
.section3__img{
  position: relative;
  opacity: 0.9;
}
.section3__text{
  width: 30%;
  position: absolute;
  bottom: 50%;
  left: 5%;
  font-weight: bold;
  color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.section3__winner h4{
  position: absolute;
  bottom: 42%;
  left: 12%;
  background-color:white;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}
.section3__winner h4:hover{
  background-color: black;
  color: white;
  transition: 1s;
}
.section4__card{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card{
  width: 20%;
  flex-grow: 1;
    flex-basis: 20%;
    animation-name: zoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.card img{
  width: 100%;
  height: 50%;
}
@keyframes zoom{
  0%{
      opacity: 0;
      transform: scale(0);
  }
  100%{
      transform: scale(1);
      opacity: 1;
  }
}
.section5{
  margin-top: 100px;
}
.section5__card{
  display: flex;
  gap: 20px;
}
.section5__card .card h2{
  text-align: center;
}
.explore{
  background-color: #faf1ed;
  padding: 10px;
}
.explore h2{
  margin-left: 10%;
  margin-right: 10%;
}
.explore__card{
  display: flex;
  gap: 15px;
  margin-left: 10%;
  margin-right: 10%;
}
.explore__card .card img{
  width: 100%;
  height: 70%;
}
/* section6 */
.container2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.section6__trip{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.section6__trip .card h2{
  text-align: center;
}
/* section7 */
.section7__destination{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.section7__destination .card h2{
  text-align: center;
}

/* footer section */
.footer{
  background-color: #faf1ed;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 20px;
}
.footer__section1{
  display: flex;
  justify-content: space-between;
}
.footer__section1__info1{
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 14px;
  cursor: pointer;
}
.footer__section1__info__s1 p:hover{
  width: fit-content;
  border-bottom: solid 1px black;
}
.footer__section1__info__s2 p:hover{
  width: fit-content;
  border-bottom: solid 1px black;
}
.footer__section1__info2 p{
  font-size: 14px;
}
.footer__section2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__section2__copyright{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__section2__copyright img{
  width: 45px;
  height: 45px;
}
.footer__section2__socialmedia{
  display: flex;
  gap: 15px;
  font-size: 25px;
}
/* Media Queries */
/* Tab View */
@media screen and (max-width:1100px){
  body{
      font-size: 15px;
  }
  .section2__search__search input{
      width: 200px;
      font-size: 15px;
  }
  .container1,.container2,.explore,.footer{
      margin-left: 0px;
      margin-right: 0px;
  }
  .explore{
      padding: 1px;
  }
  .navbar__right p{
      font-size: 13px;
  }
  .explore{
      padding-bottom: 50px;
  }
  
}
@media screen and (max-width:800px){
  body{
      font-size: 10px;
  }
  .navbar{
      justify-content: start;
      gap: 35%;
      align-items: center;
  }
  .navbar__menu{
      display: block;
  }
  
  .navbar__middle, .navbar__right, .section2 h1{
      display: none;
  }
  .section2{
      margin-top: 30px;
  }
  .section2__search{
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 0px;
      border-radius: 20px;
  }
  .section2__search h4{
      width: 90%;
      margin-left: 2%;
      text-align: center;
  }
  .section2__search__search{
      padding-left: 20px;
      padding-top: 10px;
  }
  .explore{
      padding-bottom: 70px;
  }
  .footer__section1{
      display: flex;
      justify-content: space-between;
  }
  .footer__section1__info__s2{
      display: none;
  }
  .footer__section1__info__s1{
      font-size: 10px;
  }
  .footer__section1__info2 p{
      font-size: 10px;
  }
}

/* Phone View */
@media screen and (max-width:500px){
  body{
      font-size: 10px;
  }
  .navbar__left h1{
      font-size: 15px;
  }
  .section2__menubar{
      padding: 0;
  }
  .section2__menubar p{
      font-size: 10px;
  }
  .section2__search__search input{
      font-size: 10px;
      width: 85%;
  }
  .navbar__middle{
      margin-right: 10px;
  }
  .navbar__right__rupees{
      padding-left: 10px;
  }
  .navbar__right p{
      font-size: 10px;
  }
  .explore__card .card h4{
      margin-bottom: 60px;
  }
  .section4__card{
      display: flex;
      gap: 20px;
  }
  .footer__section1{
      display: flex;
      justify-content: space-between;
  }
  .footer__section1__info__s2{
      display: none;
  }
  .footer__section1__info__s1{
      font-size: 10px;
  }
  .footer__section1__info2 p{
      font-size: 10px;
  }
  .explore h2{
      margin-left: 10px;
  }
  .explore__card{
      margin-left: 10px;
      display: flex;
      justify-content: space-between;
  }
  .section3__text{
      top:25%;
      left: 10%;
  }
  .card{
      flex-grow: 1;
      flex-basis: 40%;
  }
  .section2__menubar{
      display: flex;
      gap: 8px;
  }
}